// Colors
$orange: #EE6226;
$white: #FFF;
$light-gray: #D7D7D7;
$gray: #C1C1C1;
$dark-gray: #4A4A4A;

// Gradients:
$linear-gradient-primary: linear-gradient(180deg, $orange, $white);

// Font sizes
$f-size-21: 21px;
$f-size-16: 16px;
$f-size-13: 13px;

